*{
    padding: 0;
    margin:0;
}

.line_loader {
  width: 100%;
  height: 4.8px;
  display: none;
  position: relative;
  background: var(--primary);
  overflow: hidden;
}
.line_loader::after {
  content: '';
  width: 192px;
  height: 4.8px;
  background: var(--smoke_white);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}


.btn_load {
    width: 25px;
    height: 25px;
    border: 3px solid var(--white);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation .5s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/* For Chrome */
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

/* For Edge (if it applies) */
input[type="password"]::-ms-reveal {
    display: none;
}


.login_background{

width: 100%;
height: 100%;
position: fixed;
left: 0;
top: 0;
background-size: cover;
}

.login_container{

width: 100%;
height: 100%;
position: fixed;
left: 0;
top: 0;
background: rgb(0, 0, 0, 0.75);
display: flex;
align-items: center;
justify-content: center;
overflow-y: auto;
}

.login_container .container{
    position: relative;
    width: 70%;
    height: 90vh;
    background: var(--smoke_white);
    display: flex;
    border-radius: 15px;
    padding: 15px;
    align-items: flex-start;

}

.login_container .container .left_side {
    width: 45%;
    height: auto;
    position: relative;
     display: flex;
    align-items: flex-start;
    border-radius: inherit;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.login_container .container .left_side .left_back {
    width: 100%;
    height: calc(90vh - 30px);
    border-radius: inherit;
}

.login_container .container .right_side{
    width: 55%;
    height: 100%;
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    justify-content: start;
    justify-self: flex-end;
}

.login_container .container .right_side .right_cont{

    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login_container .container .right_side .right_cont .reg_link_btn{

    align-self: flex-end;
    display: flex;
    gap: 5px;
}

.login_container .container .right_side .right_cont .reg_link_btn button{

    border: none;
    background: transparent;
    color: var(--primary);
}

.login_container .container .right_side .logo_div{
    display: flex;
    align-items: flex-end;
    margin-left: -15px;
    margin-bottom: 10px;
}

.login_container .container .right_side .logo_div img{
   width: 70px;
   height: 70px;
}

.login_container .container .right_side .logo_div h3{
   font-size: 15px;
   font-weight: bold;
}

.login_container .container .right_side .header{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

form{
    display: flex;
    overflow: hidden;
}

form .form_child_cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

form .form_child_cont.register{
    display: none;

}

form .form_child_cont .form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form .input_div{
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    min-height: 45px;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: .2s linear;
}

form .input_div i{
 width: 35px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--primary);
}

form .input_div i.bt_icon{
 color: var(--black-20);
 cursor: pointer;
 transition: .1s linear;
}

form .input_div i.bt_icon:hover{
 color: var(--black);
}

form .input_div input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;

}

form .input_div input:focus{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.input_div:has(input:focus) {
  border: 2px solid var(--primary);
}

form button{
    min-height: 45px;
    border: none;
    background: var(--primary);
    color: var(--white);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 1024px) {

    .login_container .container{
        width: 90%;
        min-height: 90%;
    }

}

@media (max-width: 770px) {

    .login_container .container .left_side{
        display: none;
    }

    .login_container .container .right_side{
        width: 100%;
    }

    .login_container .container .right_side .right_cont{
        width: 100%;
    }

}

@media (max-width: 580px) {

    .login_container .container{
        width: 100%;
        min-height: 100%;
        border-radius: 0;
    }


}









