@font-face {
    font-family: 'MainFont';
    src: url('../fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
--primary:#F48018;
--primary-40:rgb(244, 128, 24,0.4);
--primary-10:rgb(244, 128, 24,0.1);
--milkywhite:rgb(249, 249, 249);
--smoke_white:rgb(242, 242, 242);
--dark_white:rgb(239, 239, 239);
--white: rgb(253,253,253);
--black: rgb(0,0,0,0.87);
--black-20: rgb(0,0,0,0.5);
--black-10: rgb(0,0,0,0.2);
--gray: rgb(0,0,0,0.6);
}

*{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body{
     font-family: 'MainFont', sans-serif;
     background: var(--milkywhite);
     color: var(--black);
     padding: 0;

}

.main_loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* Container for the animation */
.main_loader .loader {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    font-size: 30px; /* Icon size */
    background: var(--dark_white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Form Icon */
.main_loader .loader .form-icon {
    color: #0078D7;
    font-size: 30px;
}

/* Cloud Icon */
.main_loader .loader .cloud-icon {
    color: var(--primary);
    font-size: 30px;
}

.main_loader .loader .arrows{
    position: absolute;
     animation: move-arrow 1s linear infinite; /* Animation */
}

/* Chevron Arrow Icon */
.main_loader .loader .arrow-icon {
    color: #0078D7;
    font-size: 18px;
}

/* Keyframes for the arrow movement */
@keyframes move-arrow {
    0% {
        left: 50px; /* Start near the form icon */
        opacity: 1;
    }
    50% {
        left: 80px; /* Midway towards the cloud icon */
        opacity: 1;
    }
    100% {
        left: 120px; /* Reaches near the cloud icon */
        opacity: 0; /* Fades out */
    }
}

.ctoast {
    position: fixed;
    bottom: 30px;
    right: 30px; 
    z-index: 1000000;
    min-width: 30%;
    border-radius: 8px;
    background: rgb(252, 252, 252, 1.0);
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); 
    max-width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;

}

.ctoast .top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ctoast .top .title{

    display: flex;
    gap: 15px;
    align-items: center;
}

.ctoast .top .title .icon{

    width: 30px;
    height: 30px;
    border-radius: 6px;
    color: rgb(0, 200, 0);
    background: rgb(0, 200, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctoast .top .title h6{
   font-weight: 600;
   color: rgb(0, 200, 0);
   margin-top: 6px;
}

.ctoast .top .title h6.error{
   color: rgb(255, 0, 0);
}

.ctoast .top .title .icon.error{
    background: rgb(255, 0, 0, 0.07);
    color: rgb(255, 0, 0);
}

.ctoast .top .close{
    cursor: pointer;
}

.ctoast p{
    font-size: 12px;
    margin-bottom: 0px;
}

.ctoast.show{
    display: flex;
    visibility: visible;
    animation: show_toast .3s linear;
}

.ctoast.hide{
    display: flex;
    animation: hide_toast 1.5s forwards;
}


@keyframes show_toast{
    0%{

        right: -40%;
    }
    35%{
        right: 80px;
    }
    70%{
        right: 5px;
    }
    100%{
        right: 30px;
    }
}

@keyframes hide_toast{
    0%{
        right: 50px;
    }
    100%{
        right: -150%;
        display: none;
    }
}



.dialog_cont{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.dialog_cont .dialog{
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--milkywhite);
    border-radius: 15px;

}

.dialog_cont .dialog .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.dialog_cont .dialog .buttons button{

    background: transparent;
    border: none;
    color: var(--primary);
    outline: none;
    min-width: 80px;
}


/*starting my contact styles*/

button.secondary{
    background: var(--black-10) !important;
}
    
.wrapper{
        min-height: 100vh;
        display: flex;
        background: var(--milkywhite);
    }

.main_container{
    width: calc(60% - 15px);
    display: flex;
    justify-content: flex-start;
}

.main_container .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.main_container .info_container{
    width: 40%;
    height: calc(100vh - 30px);
    background: var(--dark_white);
    border-radius: 30px;
    overflow-y: auto;
    position: fixed;
    top: 15px;
    right:15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: start;
    justify-content: start;

}

.main_container .empty_table{
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    margin-top: 70px;
    width: 100%;
    justify-self: start;
    align-self: center;
    flex-direction: column;
    gap: 10px;
}

.main_container .empty_table i{
    font-size: 120px;
    color: var(--primary);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_container .empty_table p{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.info_shimers{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
}

.info_shimers .shimmer {
    background: linear-gradient(90deg, rgb(229, 229, 229) 25%, rgb(200, 200, 200) 50%, rgb(229, 229, 229) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.info_shimers .circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.info_shimers .row{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin: 0;
}

.main_container .info_container::-webkit-scrollbar-track{
    border-radius: 20px;
}

.main_container .info_container .empty_infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100%;
    width: 100%;
    text-align: center;
}


.main_container .info_container .empty_infos .fa-folder-open{

    width: 210px;
    height: 150px;
    font-size: 50px;
    color: var(--primary);
    border-radius: 20px;
    background: var(--milkywhite);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_container .info_container .empty_infos .text{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
}

.main_container .info_container .empty_infos .text span{
    
    font-weight: normal;
    font-size: 14px;
    text-align: center;

}

.main_container .info_container .empty_infos .text span i{
    
   color: var(--primary);
    
}

.main_container .info_container .contact_infos{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    min-height: 100%;
}

.main_container .info_container .contact_infos.active{
    display: flex;
}

.main_container .info_container .contact_infos .arrow_right{
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: none;
}

.main_container .info_container .contact_infos .arrow_right i{
   font-size: 24px;
}

.main_container .info_container .contact_infos .header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--milkywhite);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 15px;
}

.main_container .info_container .contact_infos .header .about{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.main_container .info_container .contact_infos .header .about .image_div .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: var(--primary-40);
    border-radius: 50%;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary);
    align-self: flex-start;
    text-align: center;
}

.main_container .info_container .contact_infos .header .about .names{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.main_container .info_container .contact_infos .header .about .names .top{
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
}

.main_container .info_container .contact_infos .header .about .names h6{
    font-size: 18px;
    font-weight: bold;

}


.main_container .info_container .contact_infos .header .about .names h6 button{
    width: 35px;
    height: 35px;
}


.main_container .info_container .contact_infos .header .about .names label{
   color: var(--gray);
}
.main_container .info_container .contact_infos .header .about .tags{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main_container .info_container .contact_infos .header .about .tags span{
    text-align: center;
    padding: 5px 15px;
    background: var(--primary-10);
    color: var(--primary);
    font-size: 12px;
    border-radius: 20px;

}

.main_container .info_container .contact_infos .header .buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main_container .info_container .contact_infos .header .buttons button{
    border: none;
    outline: none;
    background: var(--dark_white);
    color: var(--primary);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main_container .info_container .contact_infos .subtitle{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black-20);
    margin-bottom: -10px;
}

.main_container .info_container .contact_infos .info_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main_container .info_container .contact_infos .info_row{
    background: var(--milkywhite);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: var(--black-20);
}

.main_container .info_container .contact_infos .info_row span{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.main_container .info_container .contact_infos .info_row label{
    color: var(--black);
}

.main_container .info_container .contact_infos .info_row a{
   color: var(--primary);
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: var(--smoke_white);
   font-size: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.main_container .info_container .contact_infos .footer button{
 background: transparent;
 color: red;
 border: none;
 outline: none;
 display: flex;
 align-items: center;
 gap: 20px;
}


.main_container .container .close_div{
    display: none;
    justify-content: flex-end;
}

.main_container .container .top_bar{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 59%;
    padding: 15px;
    background: var(--milkywhite);
}

.main_container .container .top_bar h3{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--primary);
}
.main_container .container .top_bar h3 span{
    font-size: 14px;
    color: var(--black-20);
}

.oval_btn{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--primary);
    color: var(--milkywhite);
    font-size: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.oval_btn.float{
    position: fixed;
    left: 54vw;
    bottom: 30px;
}

.oval_btn.float_top{
    position: fixed;
    left: 54vw;
    top: 65px;
}

.oval_btn.deselected{
    background: var(--milkywhite);
    color: var(--primary);
}

.main_container .container .top_bar .right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-self: flex-end;
}

.main_container .container .top_bar .search_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

.main_container .container .top_bar .search_box.close{
    display: none;
}

.main_container .container .top_bar .right .main_btns{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}

.main_container .container .top_bar .right .oval_btn{
    align-self: end;
    transition: transform 0.3s ease;
}

.main_container .container .top_bar .right .search_btn{
    display: none;
}

.main_container .container .top_bar .oval_btn.rotate{
    transform: rotate(90deg);
}


.main_container .container .top_bar .search_box .search_types{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

.main_container .container .top_bar .search_box .search_types button{
    border-radius: 6px;
    border: none;
    background: var(--milkywhite);
    color: var(--black);
    padding: 0px 5px;
    min-width: 60px;
    height: 32px;
    font-size: 12px;
}

.main_container .container .top_bar .search_box .search_types button.selected{
    background: var(--primary);
    color: var(--milkywhite);
}

.main_container .container .top_bar .search_box .search_input{
    width: 100%;
    background: var(--milkywhite);
    border-radius: 6px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.main_container .container .top_bar .search_box .search_input input{
    width: 20vw;
    height: 38px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
}

.main_container .container .top_bar .search_box .search_input .fa-search{
    color: var(--black-10);
}

.main_container .container .top_bar .search_box .search_input .fa-xmark{
    color: var(--black-20);
    cursor: pointer;
}


.container .table_container{
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.container .table_container table{
    width: 100%;
}

.container .table_container table tbody tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    transition: .3s linear;
}

.container .table_container table tbody tr.selected{
    background: var(--smoke_white);
    border-radius: 50px;
    padding: 10px;
    border: none;
}

.container .table_container table tbody tr.header{
    border-bottom: none;
    display: flex;
    font-weight: bold;
    padding: 20px 0px 0px 0px;
    color: var(--black-20);
    text-transform: uppercase;
    cursor: default;
}
.container .table_container table tbody tr.header td{
    font-size: 18px;
}


.container .table_container table tbody tr td.infos{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 60%;

}

.container .table_container table tbody tr td.infos .important_infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.container .table_container table tbody tr td.infos .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--dark_white);
    color: var(--primary);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.container .table_container table tbody tr td.infos .identity{
    display: flex;
    flex-direction: column;
    font-weight: 600;

}
.container .table_container table tbody tr td.infos .identity span{
    font-size: 13px;
    font-weight: 500;
    color: var(--gray);
}

.container .table_container table tbody tr td.infos .identity_contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.container .table_container table tbody tr td.infos .identity_contacts span{
    font-size: 13px;
    font-weight: 500;
    color: var(--gray);
}



.container .table_container table tbody tr td.options{
    display: flex;
    gap: 5px;
    justify-self: flex-end;
}

.container .table_container table tbody tr td.options button{
    border: none;
    color: var(--primary);
    background: var(--milkywhite);
    width: 32px;
    height: 32px;
   border: 1px solid rgba(0, 0, 0, 0.07);
   border-radius: 50%;
   transition: .15s linear;
}
.container .table_container table tbody tr td.options button:hover{
    background: var(--dark_white);
}

.container .table_container table tbody tr td.options button i{
    font-size: 12px;
}

.container .table_container table tbody tr.shimmer_row{
    border-bottom: none;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    padding: 0px;
}

table tr.shimmer_row .shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    height: 60px; 
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}




/*end of contact styles*/


.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.topbar { 
    position: -webkit-sticky;
    position: sticky; 
    top: 0; 
    width: 100%; 
    background-color: var(--milkywhite); 
    color: white; 
    padding: 10px 10%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s linear;
}

.topbar.shadow{
    box-shadow: 0px 1px 10px #ccc;
}


.topbar .logo img{
    width: 80px;
    height: 30px;
}

.topbar .right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    height: 100%;
}

.topbar button{
    min-height: 40px;
    min-width: 40px;
    border: none;
    background: transparent;
    display: none;
   
}

.topbar button i{
    font-size: 18px;
}


.topbar .dropdown { 
    position: relative; 
}
.topbar .dropdown-content { 
    display: flex; 
    position: absolute; 
    background-color: #f9f9f9; 
    z-index: 1000; 
    opacity: 0; 
    visibility: hidden;
    transform: translateY(-20px); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    min-height:120px;


}

.topbar .dropdown:hover .dropdown-content { 
    display: flex; 
    visibility: visible; 
    opacity: 1; 
    transform: translateY(0px); 
}

.topbar .dropdown-content a{
    text-decoration: none;
    color: var(--black);
    size: 14px;
    padding: 10px;
    transition: .3s linear;
}

.topbar .dropdown-content a:hover{
 background: whitesmoke;
}

.topbar .right ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    height: 100%;
    list-style: none;
}

.topbar .right ul .btns{
text-decoration: none;
min-height: 42px;
display: flex;
align-items: center;
padding: 0px 15px;
color: var(--black);
transition: .3s linear;
}
.topbar .right ul .btns:hover{
    color: var(--primary);
    font-weight: 700;
    border-bottom: 3px solid var(--primary);
}

.topbar .right ul .register{
    background: var(--primary);
    color: var(--white);
    border-radius: 20px;
}
.topbar .right ul .register:hover{
    color: var(--white);
    font-weight: normal;
    border: none;


}

.topbar .right ul .login{
    border-radius: 20px;
    border: 2px solid var(--primary);
    color: var(--primary);
}
.topbar .right ul .login:hover{
    color: var(--white);
    background: var(--primary);
    font-weight: normal;
}



.maincontainer{
  width: 100%;
  padding: 0;
}

.maincontainer .landing{
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 90vh;
}

.maincontainer .landing .lcard{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.maincontainer .landing .lcard h3, .maincontainer .landing .lcard h3 span{
    font-size: 48px;
    color: var(--black);
    font-weight: 700;
}
.maincontainer .landing .lcard h3 span{
    color: var(--white);

}


.maincontainer .landing .lcard h3 .lbadge {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: white;

}

.maincontainer .landing .lcard h3 .lbadge::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary); /* Adjust background color as needed */
  transform: skewY(-5deg);
  z-index: -1;
  color: var(--white);
}

.maincontainer .landing .lcard p{
    color: var(--black-20);
    font-size: 15px;
    margin-top: 5px;
}
.maincontainer .landing .lcard p span{
    color: var(--primary);
    font-weight: 600;
}

.maincontainer .landing .lcard .btn-div{

    display: flex;
    gap: 10px;
}

.maincontainer .landing .lcard .btn-div .btns{
    min-width: 25%;
    text-align: center;
    min-height: 42px;
    border-radius: 20px;
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontainer .landing .lcard .btn-div .btns.b{
    background: transparent;
    border:2px solid var(--primary);
    color: var(--primary);
    font-weight: 500;
    transition: .3s linear;
}
.maincontainer .landing .lcard .btn-div .btns.b:hover{

    background: var(--primary);
    color: var(--white);

}

.maincontainer .landing .lcard .right{
    position: relative;
}

.landing .lcard .right .bottom{
    z-index: 0;
}

.landing .lcard .right .bottom .main-img{
    width: 90%;
    height: 400px;
    border-radius: 10px;
}

.landing .lcard .tickets-div{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 10px;


}
.landing .lcard .tickets-div .ticket{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}
.landing .lcard .tickets-div .ticket .text{
 border-radius: 12px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
background: var(--white); 
padding: 10px;  
color: var(--black);
}
.landing .lcard .tickets-div .ticket .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--white);
    border: 4px solid var(--primary);
}

.landing .lcard .tickets-div .ticket.c{
   margin-left: 30%;
}




.landing .lcard .right .top{
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    min-width: 100%;
    margin-top: -50%;
}

.landing .lcard .right .top img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid var(--milkywhite);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.maincontainer .cat-cont{
  position: relative;
  display: inline-block;
  padding: 5% 10%;
  color: white;
  width: 100%;
  margin-top: 50px;

}

.maincontainer .cat-cont::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.04); /* Adjust background color as needed */
  transform: skewY(-3deg);
  z-index: -1;
}
.maincontainer .header label{
    color: var(--primary);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 0px 0px 6px solid var(--white);
}
.maincontainer .header p{
color: var(--black-20);
font-size: 16px;
margin-bottom: 50px;
}

.maincontainer .cat-cont .cats-div{
  display: flex; 
  flex-wrap: wrap; 
  gap: 1rem; 
  padding: 0; 
  align-items: center;
  justify-content: center;
}
.maincontainer .cat-cont .cats-div .cat-card{
    width: 300px; 
    min-height: 350px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    color: var(--black);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: .3s linear;
    cursor: pointer;
}

.maincontainer .cat-cont .cats-div .cat-card:hover{
    transform: translateY(-20px);
    background: var(--milkywhite);
}

.cats-div .cat-card .icon{
    width: 110px;
    height: 110px;
    padding: 10px;
    border-radius: 20px;
    font-size: 42px;
    background: var(--primary-10);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.cats-div .cat-card h6{
    font-size: 17px;
    font-weight: 700;
}

.cats-div .cat-card p{
    font-size: 14px;
    color: var(--black-20);
}

.price-tag{
   
    align-self: end;
    padding: 10px 0px 10px 10px;
    border-left: 5px solid var(--primary);
    font-size: 16px;
    font-weight: 700;
}
.cats-div .cat-card a{
    width: 100%;
    min-height: 42px;
    background: var(--primary);
    border-radius: 10px;
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.maincontainer .contact-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10%;
    margin-top: 50px;
}

.maincontainer .contact-cont .contact-div{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    align-items: center;
}
.maincontainer .contact-cont .contact-div iframe{
    width: 50%;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    background: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.maincontainer .contact-cont .contact-div .form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    background: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.contact-cont .contact-div .form h4{
    font-size: 18px;
    color: var(--black);
}

.form input, .form textarea{
   min-height: 40px;
   border-radius: 4px;
   outline: none;
   border: 1px solid var(--black-10);
}
.form input:focus, .form textarea:focus{
 box-shadow: none;
 border: 1px solid var(--primary);
}

.form button{
    background: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    border: none;
    min-height: 40px;
}



.cmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgb(0, 0, 0, 0.3);
    z-index: 20000;
    padding: 0;
    margin: 0;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
.cmodal.show {
    opacity: 1;
    display: flex;
    transition: opacity 0.4s linear;
    animation: appear 0.4s linear;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.cmodal .cmodal-scroll{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: auto;
  padding: 20px 0px;


}

.cmodal .cmodal-top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;

}

body.n-scroll{
    overflow: hidden;
}


.cmodal .cmodal-cont{
    width: 80%;
    top: 0;
    min-height: 90vh;
    background: var(--milkywhite);
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    height: auto;

}

    .cmodal .cmodal-cont.md{

        width: 50%;
        min-height: 60vh;

    }

    .cmodal .title{
        text-transform: uppercase;
        margin-top: -45px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        width: 100%;
    }

    .cmodal .title label{
         font-size: 20px;
    }

 .cmodal .title span{
    display: none;
 }


.cmodal .cmodal-cont .close{
    align-self: end;
    background: var(--milkywhite);
    border: none;
    width: 35px;
    font-weight: normal;
    height: 35px;
    border-radius: 50%;
    margin-top: -15px;
    margin-right: -15px;
    border: 2.5px solid var(--primary);
}
.cmodal .cmodal-cont .close i{
    font-size: 14px;
    color: var(--primary);
}

.cmodal .cmodal-cont .cmodal-cont-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}



.cmodal form{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.cmodal .cmodal-cont form .image_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    width: auto;
}
.cmodal .cmodal-cont form .image_div img{
 width: 150px;
 height: 150px;
 padding: 45px;
 background: var(--primary-40);
 border-radius: 50%;
}
.cmodal .cmodal-cont form .image_div img.active{
    padding: 0;
}

.cmodal .cmodal-cont form .image_div .image_cont{
    width: auto;
    display: flex;
}

.cmodal .cmodal-cont form .image_div .image_cont span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--black-10);
    background: var(--dark_white);
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    color: var(--primary);
    cursor: pointer;

}



.cmodal .cmodal-cont form .image_div button{
    width: 150px;
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 3px;
    padding: 5px 10px;
}
.cmodal .cmodal-cont form .image_div span{
    font-size: 12px;
}




.cmodal .cmodal_footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0px 15px 15px 15px;
}

.cmodal .cmodal_footer button{
    width: 20%;
    border-radius: 4px;
    min-height: 40px;
    background: var(--primary);
    border: none;
    color: var(--milkywhite);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.wrapper.blur, .floating-button.blur{
    filter: blur(10px);
}

@media (max-width: 1024px) {

.main_container{
    width: 100%;
}
.main_container .container .top_bar{
width: 100%;
}

.oval_btn.float, .oval_btn.float_top{
    left: auto;
    right: 15px;
}


.main_container .info_container{
    width: 100%;
    right: 0;
    top: 0;
    height: 100vh;
    border-radius: 0px;
    display: none;
}
.main_container .info_container.active{
    display: flex;
}

.main_container .info_container .contact_infos .arrow_right{
    display: flex;
}

.main_container .container .close_div{
    display: flex;
}

.cmodal .cmodal-scroll{
    
  padding: 0px;


}

.cmodal .cmodal-cont{
    width: 100% !important;
    border-radius: 0px;
    min-height: 100vh !important;
}

.cmodal .cmodal-cont .close{
  display: none;
}

.cmodal .cmodal-cont .title{
  margin-top: auto;
  justify-content: space-between;
}

.cmodal .title span{
    display: flex;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
    color: var(--black);
 }

 .cmodal .title span i{
 font-size: 24px;
 }


.cmodal .cmodal_footer button{
    width: 50%;
}

 .dialog_cont .dialog{
        width: 80%;
    }

}

@media (max-width: 760px) {

.main_container .container .top_bar{
width: 100%;
}



.main_container .container .top_bar .right{
width: 100%;
}

.container .table_container table tbody tr td.options{
   align-self: flex-start;
}

.main_container .container .top_bar .search_box .search_input{
    width: calc(100vw - 150px);
}

.main_container .container .top_bar .search_box .search_input input{
    width: 100%;
}

.main_container .container .top_bar .right .search_btn{
display: block;
}


.container .table_container table tbody tr td.infos .important_infos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}

.container .table_container table tbody tr td.infos .identity_contacts{
    align-items: flex-start;
}

}




























